body
{
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    font-size: 60px;
    border: 0;
    padding: 0;
    margin: 0;
    background-color: black;
}
#screen {
    background-color: black;
    color: white;
    float: left;
    width: 390px;
    height: 100px;
    line-height: 100px;
    padding-right: 10px;
    direction: rtl;
    margin: 0;
    padding: 0;
    font-size: 70px;
}
.button {
    user-select: none;
    float: left;
    text-align: center;
    width: 100px;
    height: 100px;
    line-height: 100px;
    background-color: #f0ffff;
    margin: -1px;
    border: 1px solid black;
    color: black;
    cursor: default;
}
.button:active {
    background-color:#d0dddd;
}
.button.modifier {
    background-color: #c0cccc;
}
.button.modifier:active {
    background-color: #909999;
}
.button.action {
    background-color: #FFA500;
}
.button.action:active {
    background-color: #dd8300;
}
.button.wide {
    width: 50%;
}